@import 'bulma';

 
.container{
	width: 500px;
	margin-top: 20px;
}
.button{
	margin-top: 30px;
	font-weight: bolder;
	background-color: lightblue;
	color: grey;
}
.list{

	width: 500px;
	margin-top: 20px;
	border: 1px solid lightgrey;
}